In [ ]:
# CSE 111 : Lab Assignment 7
# Name    : Tahia Hossain
# ID      : 21301164
# Section : 08

In [12]:
# TASK 1

class Student:
  def __init__(self, name='Just a student', dept='nothing'):
    self.__name = name
    self.__department = dept
  def set_department(self, dept):
    self.__department = dept
  def get_name(self):
    return self.__name
  def set_name(self,name):
    self.__name = name
  def __str__(self):
    return 'Name: '+self.__name+' Department: '+self.__department

#write your code here

class BBA_Student(Student):
  def __init__(self,name="default",dept="BBA"):
    super().__init__(name,dept)


print(BBA_Student())
print(BBA_Student('Humpty Dumpty'))
print(BBA_Student('Little Bo Peep'))

Name: default Department: BBA
Name: Humpty Dumpty Department: BBA
Name: Little Bo Peep Department: BBA

In [13]:
# TASK 2

class Vehicle:
  def __init__(self):
    self.x = 0
    self.y = 0
  def moveUp(self):
    self.y+=1
  def moveDown(self):
    self.y-=1
  def moveRight(self):
    self.x+=1
  def moveLeft(self):
    self.x-=1
  def __str__(self):
    return '('+str(self.x)+' , '+str(self.y)+')'

#write your code here

class Vehicle2010(Vehicle):
  def moveLowerLeft(self):
    self.moveDown()
    self.moveLeft()
    self.__str__()

  def equals(self,other):
    self.other = other
    if self.x == other.x and self.y == other.y :
      return "True"
    else :
      return "False"


print('Part 1')
print('------')
car = Vehicle()
print(car)
car.moveUp()
print(car)
car.moveLeft()
print(car)
car.moveDown()
print(car)
car.moveRight()
print(car)
print('------')
print('Part 2')
print('------')
car1 = Vehicle2010()
print(car1)
car1.moveLowerLeft()
print(car1)
car2 = Vehicle2010()
car2.moveLeft()
print(car1.equals(car2))
car2.moveDown()
print(car1.equals(car2))

Part 1
------
(0 , 0)
(0 , 1)
(-1 , 1)
(-1 , 0)
(0 , 0)
------
Part 2
------
(0 , 0)
(-1 , -1)
False
True

In [14]:
# TASK 3

class Tournament:   #parent
  def __init__(self,name='Default'):
    self.__name = name
  def set_name(self,name):
    self.__name = name
  def get_name(self):
    return self.__name

#write your code here

class Cricket_Tournament(Tournament):
  def __init__(self,t_name="Default",no_team=0,t_type="No type"):
    super().__init__(t_name)
    self.no_team = no_team
    self.t_type = t_type

  def detail(self):
    print("Cricket Tournament Name:", super().get_name())
    print("Number of Teams:", self.no_team)
    var = "Type: " + self.t_type
    return var

class Tennis_Tournament(Tournament):
  def __init__(self,name,no_players):
    self.name = name
    self.no_players = no_players

  def detail(self):
    print("Tennis Tournament Name:", self.name)
    obj = "Number of Players: " + str(self.no_players)
    return obj


ct1 = Cricket_Tournament()
print(ct1.detail())
print("-----------------------")
ct2 = Cricket_Tournament("IPL",10,"t20")
print(ct2.detail())
print("-----------------------")
tt = Tennis_Tournament("Roland Garros",128)
print(tt.detail())

Cricket Tournament Name: Default
Number of Teams: 0
Type: No type
-----------------------
Cricket Tournament Name: IPL
Number of Teams: 10
Type: t20
-----------------------
Tennis Tournament Name: Roland Garros
Number of Players: 128

In [19]:
# TASK 4

class Product:
  def __init__(self,id, title, price):
    self.__id = id
    self. __title = title
    self. __price = price
  def get_id_title_price(self):
    return "ID: "+str(self.__id)+" Title: "+self.__title+ " Price: "+str(self.__price)

#write your code here

class Book(Product):
  def __init__(self,id,title,price,ISBN,publisher):
    super().__init__(id,title,price)
    self.ISBN = ISBN
    self.publisher = publisher

  def printDetail(self):
    print(super().get_id_title_price())
    var = "ISBN: " + self.ISBN + " Publisher: " + self.publisher
    return var

class CD(Product):
  def __init__(self,id,title,price,band,time,genre):
    super().__init__(id,title,price)
    self.band = band
    self.time = time 
    self.genre = genre

  def printDetail(self):
    print(super().get_id_title_price())
    obj = "Band: " + self.band + " Duration: " + str(self.time) + "minutes \n" + "Genre: " + self.genre
    return obj

book = Book(1,"The Alchemist",500,"97806","HarperCollins")
print(book.printDetail())
print("-----------------------")
cd = CD(2,"Shotto",300,"Warfaze",50,"Hard Rock")
print(cd.printDetail())

ID: 1 Title: The Alchemist Price: 500
ISBN: 97806 Publisher: HarperCollins
-----------------------
ID: 2 Title: Shotto Price: 300
Band: Warfaze Duration: 50minutes
Genre: Hard Rock

In [20]:
# TASK 5

class Animal:
  def __init__(self,sound):
    self.__sound = sound
  def makeSound(self):
    return self.__sound

class Printer:
  def printSound(self, a):
    print(a.makeSound())

#write your code here

class Dog(Animal):
  def __init__(self,sound):
    super().__init__(sound)

class Cat(Animal):
  def __init__(self,sound):
    super().__init__(sound)


d1 = Dog('bark')
c1 = Cat('meow')
a1 = Animal('Animal does not make sound')
pr = Printer()
pr.printSound(a1)
pr.printSound(c1)
pr.printSound(d1)

Animal does not make sound
meow
bark

In [21]:
# TASK 6

class Shape:
  def __init__(self, name='Default', height=0, base=0):
    self.area = 0
    self.name = name
    self.height = height
    self.base = base
  def get_height_base(self):
    return "Height: "+str(self.height)+",Base: "+str(self.base)

#write your code here

class triangle(Shape):
  def __init__(self,name="Default",height=0,base=0):
    super().__init__(name,height,base)
  
  def calcArea(self,area=0.0):
    self.area = area
    self.area = 1/2 * self.base * self.height

  def printDetail(self):
    print("Shape name: ", self.name)
    print("Height: " + str(self.height) + ", Base: " + str(self.base))
    area = "Area: " + str(self.area)
    return area

class trapezoid(Shape):
  def __init__(self,name,height,base,side):
    super().__init__(name,height,base)
    self.side = side
    
  def calcArea(self,area=0.0):
    self.area = area
    self.area = ((self.side + self.base) / 2 ) * self.height

  def printDetail(self):
    print("Shape name: ", self.name)
    print("Height: " + str(self.height) + ", Base: " + str(self.base) + ", Side_A: " + str(self.side))
    area = "Area: " + str(self.area)
    return area


tri_default = triangle()
tri_default.calcArea()
print(tri_default.printDetail())
print('--------------------------')
tri = triangle('Triangle', 10, 5)
tri.calcArea()
print(tri.printDetail())
print('---------------------------')
trap = trapezoid('Trapezoid', 10, 6, 4)
trap.calcArea()
print(trap.printDetail())

Shape name:  Default
Height: 0, Base: 0
Area: 0.0
--------------------------
Shape name:  Triangle
Height: 10, Base: 5
Area: 25.0
---------------------------
Shape name:  Trapezoid
Height: 10, Base: 6, Side_A: 4
Area: 50.0

In [24]:
# TASK 7

class Football:
  def __init__(self, team_name, name, role):
    self.__team = team_name
    self.__name = name
    self.role = role
    self.earning_per_match = 0
  def get_name_team(self):
    return 'Name: '+self.__name+', Team Name: ' +self.__team

#write your code here

class Player(Football):
  def __init__(self,name,team_name,role,goal,play):
    super().__init__(name,team_name,role)
    self.total_goal = goal
    self.total_match = play

  def calculate_ratio(self):
    self.ratio = self.total_goal / self.total_match

  def print_details(self):
    print(self.get_name_team())
    print("Team Role: ", self.role)
    print("Total Goal: " + str(self.total_goal) + ", Total Played: " + str(self.total_match))
    print("Goal Ratio: ", self.total_goal / self.total_match)
    print("Match Earning: " + str((self.total_goal*1000) + (self.total_match*10)) + "K")

class Manager(Football):
  def __init__(self,name,team_name,role,win):
    super().__init__(name,team_name,role)
    self.match_win = win

  def print_details(self):
    print(self.get_name_team())
    #print(super().get_name_team())
    print("Team Role: ", self.role)
    print("Total Win: ", self.match_win)
    print("Match Earning: " + str(self.match_win * 1000) + "K")


player_one = Player('Juventus', 'Ronaldo', 'Striker', 25, 32)
player_one.calculate_ratio()
player_one.print_details()
print('------------------------------------------')
manager_one = Manager('Real Madrid', 'Zidane', 'Manager', 25)
manager_one.print_details()

Name: Ronaldo, Team Name: Juventus
Team Role:  Striker
Total Goal: 25, Total Played: 32
Goal Ratio:  0.78125
Match Earning: 25320K
------------------------------------------
Name: Zidane, Team Name: Real Madrid
Team Role:  Manager
Total Win:  25
Match Earning: 25000K