**Quiz-1 questions**


**Task-1**


Suppose you have a list of integers. Your task is to create a dictionary 
which will have the index of the list as key and summation from start to 
that index as value. User will give a range and if you have to print the 
summation of the list from the start and ending index of the range using 
the created dictionary.

     List = [3,1,5,4,6,7,8]
     Dictionary should be dict = {0:3, 1:4, 2:9,3:13, 4:19, 5:26, 6:32}
Sample Input:

3,1,5,4,6,7,8

2 4

Sample Output:

{0:3, 1:4, 2:9, 3:13, 4:19, 5:26, 6:32}

15

Hint: If you want to get the summation from index 2 to 4, just subtract the 
dict[1] from   dict[4] and you will get the required answer

**Task-2**

Write a python program that will take N as input from the user and then 
take N lines of input from the user. Each line will contain a tennis player 
name, year and tournament name that he won that year. Store each player's 
championship information in a dictionary where the key will be the player 
name and corresponding value will be a list containing all the tournaments 
the player won along with the year of the tournament.


Sample Input 1:

6

2021 AustralianOpen Djokovic

2021 FrenchOpen Djokovic

2020 FrenchOpen Nadal

2020 USOpen Dominic

2020 AustralianOpen Djokovic

2019 USOpen Nadal

Sample Output 1 (No need to follow this output format. Just print the 
resultant dictionary. )

{
'Djokovic':
{
2021:['AustralianOpen','FrenchOpen'],
2020:['AustralianOpen']
},
'Nadal':
{
2020:['FrenchOpen'],
2019: ['USOpen']
},
'Dominic':
{
2020:['USOpen']
}
}

**Task-3**

Write a program that will take Student names and their marks in different 
courses as input. Your task is to calculate the GPA of the students from 
course marks and create a dictionary that will contain the student names 
given as input as Key and their GPA as the corresponding value. At the end 
of the program print the dictionary that you created. For simplicity you 
can consider all the courses are 3.0 credit hours long. The program will 
continue to take inputs unless “STOP” is given as input.

Grading policy is as follows:

Marks >=90,  Grade: 4.0

90> Marks>=85,  Grade point:  3.7

85>Marks>=80,  Grade point:  3.3

80>Marks>=75,  Grade point:  3.0

75>Marks>=70,  Grade point:  2.7

70>Marks>=65,  Grade point:  2.3

65>Marks>=60,  Grade point:  2.0

60>Marks>=57,  Grade point:  1.7

57>Marks>=55,  Grade point:  1.3

55>Marks>=52,  Grade point:  1.0

52>Marks>=50,  Grade point:  0.7

Marks<50,  Grade point:  0.0

And the formula to calculate GPA is:
        GPA = sum(Each course grade point * credit of each course) / (Total 
credits attended)

Sample Input:

Adam 83 95 67 72      
[Explanation: gpa = 
(3.3*3.0+4.0*3.0+2.3*3.0+2.7*3.0)/12.0 = 3.075 ≈ 3.08]

John 40 55 81 76

Alice 65 96 92

STOP

Sample Output:
{'Adam': 3.08, 'John': 1.9, 'Alice': 3.43}

**Task-4**

Suppose you are given a list of contacts as input in single line. Your task 
is to create a “Phonebook” out of those contacts based on their telecom 
operator. The phonebook is nothing but a nested dictionary which is made of 
1 rule:

1.You have to save each contact based on their telecom operator. If there 
is no contact of a specific telecom operator, that operator should not be 
shown in the phone book. If a contact number,
Starts with ‘017’ or ‘013’ then the telecom operator is Grameenphone
Starts with ‘018’ then the telecom operator is Robi
Starts with ‘016’ then the telecom operator is Airtel
Starts with anything else then the telecom operator is Others
While printing the phonebook as output the contacts under each telecom 
operator should be shown in alphabetically sorted order based on the 
contact names. See the sample output for clarification.

Sample Input:

Bob 01632342392 Alice 01346734123 Britney 01803544535 Aeron 01723454642 
Smith 01923457890 Tarek 01866392233

Sample Output:(No need to follow this output format. Just print the 
resultant sorted dictionary. )

{
Airtel:
{
Bob:01632342392
}
Grameenphone:
{
Aeron:01723454642
Alice:01346734123
}
Robi:
{
Britney:01803544535
Tarek:01866392233
}
Others:
{
Smith:01923457890
}
}

**Task-5**

Write a python program that will make a dictionary from the given list of 
Student IDs based on the department and admitted year.
ID explanation:

First 2 digits: Year

4th and 5th digit: Department
01 = CSE, 41=CS, 21=EEE, Any other digits = Other

For example, ID: 21121347, in this ID, the first 2 digits are 21. So the 
year is 2021.

The 4th and 5th digit are 21. So the department in EEE.

Given List [Your code should work for all types of similar IDs if the given 
List is changed.]:

IDs = 

['20201199','21121347','20141052','20341121','21241369','21272199','19241187','19101007','20101035', '21121875', '19141534', '19301552', '21141135', '21365001']


Sample Output (You have to print the resultant dictionary only)


{
     2020:{
              'CSE': ['20201199', '20101035'],
              'CS': ['20141052', '20341121']
              },
     2021:{
              'EEE': ['21121347', '21121875'],
              'CS': ['21241369', '21141135'],
              'Other': ['21272199', '21365001']
              },
     2019:{
              'CS': ['19241187', '19141534'],
              'CSE': ['19101007', '19301552']
             }
}

**Summer'21 Quiz 02 Questions:**

**Task-1**

Write the Hotel class with the required methods to give the following 
outputs as shown.

# #Write your codes here.

# Do not change the following lines of code.
h = Hotel("Lakeshore")

print("=================================")

h.addStuff( 125501,"Adam", 26)

print("=================================")

print(h.printAllStuffs())

print("=================================")

h.addStuff(125502,”Bob”,32,5678)

print("=================================")

print(h.printAllStuffs())

print("=================================")

h.addGuest(“Carol”,35,”123”)

print("=================================")

print(h.printAllGuest())

print("=================================")

h.addGuest("Diana, 32, “431”,226602)

print("=================================")

print(h.printAllGuest())


#### **OUTPUT**:
=================================

Staff With ID 125501 is added

All Staffs:
Number of Staff:  1
#### Staff ID: 125501 Name: Adam Age: 26 Phone no: 000
=================================
#### Staff With ID 125502 is added
=================================

All Staffs:
Number of Staff:  2
#### Staff ID: 125501 Name: Adam Age: 26 Phone no: 000
#### Staff ID: 125502 Name: Bob Age: 32 Phone no: 5678
=================================
####Guest With ID 226601 is added
=================================

All Guests:
Number of Guest:  1
####Guest  ID: 226601 Name: Carol Age: 35 Phone no: 123
=================================
#### Guest With ID 220602 is added
=================================

All Guests:

Number of Guest:  2

Guest  ID: 226601 Name: Carol Age: 35 Phone no: 123

Guest  ID: 226602 Name: Dianal Age: 32 Phone no: 431

**Task-02**

Write the Author class with the required methods to give the following  
outputs as shown.

# #Write your codes here.

# Do not change the following lines of code.
a1 = Author()

print("=================================")

a1.addBook(“Ice”, “Science Fiction”)

print("=================================")

a1.setName(“Anna Kavan”)

a1.addBook(“Ice”, “Science Fiction”)

a1.printDetail()

print("=================================")

a2 = Author(“Humayun Ahmed”)

a2.addBook(“Onnobhubon”, “Science Fiction”)

a2.addBook(“Megher Upor Bari”, “Horror”)

print(=================================")

a2.printDetail()

a2.addBook(“Ireena”, “Science Fiction”)

print("=================================")

a2.printDetail()

print("=================================")


####**Ouput:**
=================================
#### A book can not be added without author name
=================================

Number of Book(s): 1

Author Name: Anna Kavan

#### Science Fiction: Ice

=================================

Number of Book(s): 2

Author Name: Humayun Ahmed

Science Fiction: Onnobhubon

#### Horror: Megher Upor Bari
=================================

Number of Book(s): 3

Author Name: Humayun Ahmed

Science Fiction: Onnobhubon, Ireena

Horror: Megher Upor Bari

================================